---
interface Props {
  title: string;
  tagline?: string;
  name?: string;
  align?: "start" | "center";
}

const {
  align = "center",
  tagline,
  title,
  name = "Kyle Olmstead",
} = Astro.props;
---

<div class:list={["hero stack gap-4", align]}>
  <div class="stack gap-2">
    {
      Astro.url.pathname === "/" ? (
        <h1 class="title text-4xl md:text-5xl lg:text-6xl">
          {title}
          {` `}
          <span class="name-gradient">{name}</span>
        </h1>
      ) : (
        <h1 class="title text-4xl md:text-5xl lg:text-6xl">{title}</h1>
      )
    }

    {tagline && <p class="tagline text-lg md:text-xl lg:text-2xl">{tagline}</p>}
  </div>
  <slot />
</div>

<style lang="postcss">
  .hero {
    text-align: center;
  }

  .name-gradient {
    @apply text-transparent bg-clip-text bg-gradient-to-r from-purple-400 to-violet-600;
  }

  .title {
    max-width: 15ch;
    margin-inline: auto;
  }
  .tagline {
    max-width: 37ch;
    margin-inline: auto;
  }

  .title {
    /* color: var(--gray-0); */
  }

  @media (min-width: 50em) {
    .start {
      text-align: start;
    }

    .start .title,
    .start .tagline {
      margin-inline: unset;
    }
  }
</style>
