---
const { class: className } = Astro.props;

function createIdFromString(input: string): string {
  return input.toLowerCase().replace(/\s+/g, "");
}

const text = await Astro.slots.render("default");
const transitionName = `${createIdFromString(text)}-pill`;
---

<div
  transition:name={transitionName}
  class:list={[
    "pill",
    {
      "border-2 border-slate-300 bg-slate-100/50 text-slate-500 shadow-sm dark:border-gray-900 dark:bg-gray-950 dark:text-gray-600":
        !className,
    },
    [className, "pill"],
  ]}
>
  <slot />
</div>

<style lang="postcss">
  .pill {
    display: flex;
    padding: 0.5rem 1rem;
    gap: 0.5rem;
    border-radius: 999rem;
    line-height: 1.35;
    white-space: nowrap;
    align-items: center;
  }
</style>
